*, *::after, *::before {
	margin: 0;
	box-sizing: border-box;
}
:root {
	--bg: #EFEFEF;
	--text: #1C1D20;
	--text-low: gray;
	--text-input: #1C1D20;
	--shadow: #dcdcdc;
	--red: #FF595E;
	--ora: #FF7F3A;
	--yel: #FFCA3A;
	--gre: #8AC926;
	--blu: #1982C4;
	--vio: #6A4C93;
	--klk: #efefef80;
	--deco: #e4e4e4;
	--deco2: #cdcdcd;
	--highlight: #FFCA3A;

	color-scheme: only light;
	height: 100svh;
	overflow-y: scroll;
	overflow-x: hidden;
	/* scroll-snap-type: y mandatory; */
	scroll-behavior: smooth;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
:root, input, button {
	font: 400 20px/1.2 'Poppins', sans-serif;
}
body {
	color: var(--text);
	background: var(--bg);
}
body.dark {
	--bg: #1E1E1E;
	--text: #EFEFEF;
	--text-low: #939393;
	--text-input: #1C1D20;
	--shadow: #3c3c3c;
	--red: #FF6C6C;
	--ora: #FF9D68;
	--yel: #FFD86E;
	--gre: #BCEE70;
	--blu: #70C4EE;
	--vio: #ED99EC;
	--klk: #1E1E1E80;
	--deco: #3e3e3e;
	--deco2: #3e3e3e;
	--highlight: #8862A7;
}
a {
	color: inherit;
	font-weight: 600;
	text-decoration: none;
}
h1 {
	line-height: 1;
	font-weight: 500;
	font-size: 96px;
}
section p {
	font-size: 36px;
}
video, img, svg {
	display: block;
}
video, img {
	object-fit: cover;
}
strong {
	color: var(--text);
	font-weight: 600;
}
button {
	background: transparent;
	cursor: pointer;
	display: block;
	border: 0;
	padding: 0;
	transition: transform .2s ease-out;
}
mark {
	background: var(--highlight);
	line-height: 1.15;
	display: inline-block;
	padding-inline: 4px;
}
.path {
	will-change: stroke-dashoffset;
	stroke-dasharray: var(--len);
	stroke-dashoffset: var(--len);
	animation: dash 0.5s ease-out var(--delay) both;
}
@keyframes dash {
	from { stroke-dashoffset: var(--len) }
	to { stroke-dashoffset: 0px }
}
a:active, button:active {
	scale: 0.95;
}
::selection {
	background: var(--highlight);
}
.c0 { color: var(--red); animation-name: breathing_1 }
.c1 { color: var(--ora); animation-name: breathing_2 }
.c2 { color: var(--yel); animation-name: breathing_3 }
.c3 { color: var(--gre); animation-name: breathing_4 }
.c4 { color: var(--blu); animation-name: breathing_5 }
.c5 { color: var(--vio); animation-name: breathing_6 }

.c8 {
	color: #79583c;
}

@media (max-width: 1000px) {
	h1 {
		font-size: 72px;
	}
	section p {
		font-size: 27px;
	}
}

@media (max-width: 700px) {
	h1 {
		font-size: 48px;
	}
	section p {
		font-size: 24px;
	}
}

@keyframes markit {
	from {
		background-position: 100% 0;
	}
	to {
		background-position: 0 0;
	}
}
@keyframes breathing_1 {
	0%   { color: var(--red); }
	17%  { color: var(--vio); }
	34%  { color: var(--blu); }
	51%  { color: var(--gre); }
	68%  { color: var(--yel); }
	85%  { color: var(--ora); }
	100% { color: var(--red); }
}
@keyframes breathing_2 {
	0%   { color: var(--ora); }
	17%  { color: var(--red); }
	34%  { color: var(--vio); }
	51%  { color: var(--blu); }
	68%  { color: var(--gre); }
	85%  { color: var(--yel); }
	100% { color: var(--ora); }
}
@keyframes breathing_3 {
	0%   { color: var(--yel); }
	17%  { color: var(--ora); }
	34%  { color: var(--red); }
	51%  { color: var(--vio); }
	68%  { color: var(--blu); }
	85%  { color: var(--gre); }
	100% { color: var(--yel); }
}
@keyframes breathing_4 {
	0%   { color: var(--gre); }
	17%  { color: var(--yel); }
	34%  { color: var(--ora); }
	51%  { color: var(--red); }
	68%  { color: var(--vio); }
	85%  { color: var(--blu); }
	100% { color: var(--gre); }
}
@keyframes breathing_5 {
	0%   { color: var(--blu); }
	17%  { color: var(--gre); }
	34%  { color: var(--yel); }
	51%  { color: var(--ora); }
	68%  { color: var(--red); }
	85%  { color: var(--vio); }
	100% { color: var(--blu); }
}
@keyframes breathing_6 {
	0%   { color: var(--vio); }
	17%  { color: var(--blu); }
	34%  { color: var(--gre); }
	51%  { color: var(--yel); }
	68%  { color: var(--ora); }
	85%  { color: var(--red); }
	100% { color: var(--vio); }
}